*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
header{
     justify-content: center;
    align-items: center;
    position: sticky;
}
nav{
     position: sticky;
}
nav li a{
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
section h2{
    align-items:center;
    color: #4855e0;
    justify-content: center;
}
